header, footer {
  background-color: #6CB4EE;
  color: white;
  padding: 20px;
  text-align: center;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

h2 {
  padding:40px;
}